@font-face {
    font-family: 'Raleway';
    src: local('Raleway Semi Bold'), local('Raleway-Semi-Bold'),
        url('Raleway-SemiBold.woff2') format('woff2'),
        url('Raleway-SemiBold.woff') format('woff'),
        url('Raleway-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
  }